var config = {};

config.twitter = {
  consumer_key:         '',
  consumer_secret:      '',
  access_token_key:     '',
  access_token_secret:  ''
};

config.db = {
  host     : '',
  user     : '',
  password : '',
  database : ''
};
config.imageFolder = '';

config.track = '32c3';

module.exports = config;
